.DataTable {
  border-collapse: collapse;

  td {
    border: 1px solid gray;
    padding: 0.25em;
  }
}

.thead {
  background-color: #333333;
  text-transform: uppercase;

  th {
    border: 2px solid gray;
    color: white;
    padding: 0.5em;
  }
}
